<h1>Publicaciones</h1>

<div id="publications">
  <% @publications.each do |publication| %>
    <%= render publication %>
    <p>
      <%= link_to "Mostrar esta Publicación", publication %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva Publicación", new_publication_path %>
